Django==1.4.1
GnuPGInterface==0.3.2
Mako==0.7.1
MarkupSafe==0.15
PAM==0.4.2
PIL==1.1.7
Twisted-Core==12.2.0
Twisted-Names==12.2.0
Twisted-Web==12.2.0
adium-theme-ubuntu==0.3.2
apt-xapian-index==0.44
argparse==1.2.1
beautifulsoup4==4.1.0
chardet==2.0.1
configglue==1.0
debtagshw==0.1
defer==1.0.6
dirspec==4.0.0
## FIXME: could not find svn URL in dependency_links for this package:
distribute==0.6.28dev-r0
duplicity==0.6.19
feedparser==5.1.2
httplib2==0.7.4
lxml==2.3.5
mimerender==0.5.1
oauth==1.0.1
oneconf==0.2.9.1
pexpect==2.4
piston-mini-client==0.7.2
protobuf==2.4.1
pyOpenSSL==0.13
pychecker==0.8.19
pycups==1.9.62
pycurl==7.19.0
pyinotify==0.9.3
pyserial==2.5
pysmbc==1.0.13
python-apt==0.8.7ubuntu4
python-debian==0.1.21-nmu2ubuntu1
python-mimeparse==0.1.4
pyxdg==0.20
reportlab==2.5
rhythmbox-ubuntuone==4.0.0
sessioninstaller==0.0.0
simplejson==2.6.1
six==1.1.0
software-center-aptd-plugins==0.0.0
system-service==0.1.6
uTidylib==0.2
ubuntuone-couch==0.3.0
ubuntuone-storage-protocol==4.0.0
unity-lens-photos==0.8
unity-lens-video==0.3.12
unity-scope-video-remote==0.3.9
usb-creator==0.2.23
virtualenv==1.7.1.2
web.py==0.37
wsgiref==0.1.2
xdiagnose==3.2
zope.interface==3.6.1
